@import url(http://fonts.googleapis.com/css?family=Lato:300);

html, body {
  position:       relative;
  min-height:     100%;
  height:         100%;
  min-width:      960px;
}
body, button {
  font:           20px/1.1em Lato, Helvetica, Arial, sans-serif;
  font-weight:    300;
  margin:         0;
  padding:        0;
}

/* highscore */

#points {
  position:       absolute;
  top:            50px;
  left:           0;
  opacity:        0.5;
  width:          150px;
  text-align:     center;
}
#points:hover {
  opacity:        1;
}
#points h1 {
  font-size:      40px;
  font-weight:    100;
  margin:         0 0 14px;
}
#points p {
  margin:         0;
}

/* controls */

#difficulty {
  position:       absolute;
  top:            150px;
  left:           0;
  width:          150px;
}
#difficulty button,
#difficulty button:active {
  background:     transparent;
  color:          #ccc;
  width:          140px;
  text-align:     center;
  padding:        5px;
  margin:         5px;
  border:         0;
  outline:        0;
  cursor:         pointer;
}
#difficulty button.current,
#difficulty button:hover {
  background:     #efefef;
  color:          #000;
}


/* main stage, typical layout (basically a table):

  #field
    .row
      .cell
      .cell
      ...
      .cell:last-child
    ...
    .row:last-child
      .cell
      .cell
      .cell:last-child
*/


#field {
  /* vertically centered, variable height */
  position:           relative;
  top:                50%;
  -webkit-transform:  translateY(-50%) translateX(80px);
  -moz-transform:     translateY(-50%) translateX(80px);
  -ms-transform:      translateY(-50%) translateX(80px);
  -o-transform:       translateY(-50%) translateX(80px);
  transform:          translateY(-50%) translateX(80px);
  /* horizontally centererd, fixed width */
  width:              800px;
  margin:             0 auto;
}
#field .row {
  text-align:     center;
  margin:         0;
}
#field .row .cell:last-child {
  margin-right:   0;
}
#field .row:last-child .cell {
  margin-bottom:  0;
}
#field .cell {
  display:        inline-block;
}
#field .cell.target {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition:    -moz-transform 500ms ease;
  -ms-transition:     -ms-transform 500ms ease;
  -o-transition:      -o-transform 500ms ease;
  transition:         transform 500ms ease;
  -webkit-transform:  scale(1) rotate(0deg);
  -moz-transform:     scale(1) rotate(0deg);
  -ms-transform:      scale(1) rotate(0deg);
  -o-transform:       scale(1) rotate(0deg);
  transform:          scale(1) rotate(0deg);
}
#field.game-over .target {
  -webkit-transform:  scale(1.1) rotate(3deg);
  -moz-transform:     scale(1.1) rotate(3deg);
  -ms-transform:      scale(1.1) rotate(3deg);
  -o-transform:       scale(1.1) rotate(3deg);
  transform:          scale(1.1) rotate(3deg);
}
